/* ======================================= template name=paul lapkin =============================================== */

/* ============================================================= css index 1 hero- area ================================================================*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto&display=swap");
/* ==========comone-css====== */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-size: 10px;
    color: black;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    Overflow-x: hidden ;
}

/* ============================================= reuseable tag ================================================*/

.row {
    max-width: 1180px;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: relway, sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

section {
    padding-top: 100px;
}

.btn {
    width: 30%;
    padding: 5px;
    background: rgb(245, 7, 7);
    text-align: center;
    color: #fff;
    font-size: 160%;
    text-transform: capitalize;
}

a,
a:hover {
    text-decoration: none;
}

.btn:hover {
    background: transparent;
    border: 2px solid red;
    color: red;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

/* ===================================== 1 hero-area ========================================*/

#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.562)), url(./img/despaired-g64a39de5f_1920.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    color: #fff;
    padding: 45px 0;
    width: 100%
}

#hero .menu-bar a ion-icon {
    color: #fff;
    font-size: 40px;
    border: 1px solid wheat;
}

#hero nav .menu-bar {
    float: right;
}

#hero nav .logo {
    float: left;
}

#hero nav {
    margin: 45px;
    margin: auto;
}

#hero .hero-text {
    width: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#hero .hero-text h1 {
    font-size: 650%;
    font-family: relway, sans-serif;
    letter-spacing: 5px;
    display: inline-block;
    color: #fff;
}

#hero .hero-text h1::after {
    content: " ";
    width: 100%;
    height: 1px;
    display: block;
    background: rgba(255, 255, 255, 0.589);
}

#hero .hero-text h1::before {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background: rgba(255, 255, 255, 0.678);
}

#hero .hero-text span {
    font-size: 210%;
    display: inline-block;
    margin-top: 15px;
}

.uk-sticky-fixed {
    background: rgba(0, 0, 0, 0.534);
}

.uk-sticky-fixed .logo,
.uk-sticky-fixed .menu-bar {
    margin: 15px;
}

.down-button {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 45px;
    text-align: center;
}

.down-button ion-icon {
    font-size: 500%;
    font-weight: 900;
    color: rgb(242, 242, 247);
    position: relative;
    -webkit-animation: 3s hr infinite;
    animation: 3s hr infinite;
}

@-webkit-keyframes hr {
    0% {
        top: 10px;
    }
    50% {
        top: 30px;
    }
    100% {
        top: 10px;
    }
}

@keyframes hr {
    0% {
        top: 10px;
    }
    50% {
        top: 30px;
    }
    100% {
        top: 10px;
    }
}

/* ====================manu-items */

.menu-items {
    position: fixed;
    width: 50%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba(12, 12, 12, 0.842);
    z-index: 999;
    display : none;
}

.menu-items .close-bar ion-icon {
    font-size: 500%;
    position: absolute;
    top: 45px;
    right: 45px;
    color: rgb(245, 10, 10);
}

.menu ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu ul li {
    text-transform: capitalize;
    cursor: pointer;
    margin: 20px 0;
}

.menu ul li a {
    font-size: 300%;
    padding: 20px 0;
    transition: 0.2s;
    color: rgb(104, 87, 87);
}

.menu ul li:hover a {
    color: rgb(248, 238, 238);
}

/* ===================================== 2 about-area ========================================*/

#about-area {
    background: linear-gradient(rgba(255, 255, 255, 0.623), rgba(255, 255, 255, 0.61)), url(./img/pexels-sebastiaan-stam-1480690.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
}

.grid-about-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 82px;
}

.about-text {
    padding: 30px;
    line-height: 2;
}

.about-text h6 {
    font-size: 180%;
}

.about-text p {
    font-size: 160%;
}

.about-img img {
    width: 100%;
}

/* ===================================== 3 working-area ========================================*/

#working-area {
    background: rgb(243, 235, 235);
    padding-bottom: 50px;
}

.ll {
    text-align: center;
}

.ll h3 {
    font-size: 400%;
    color: black;
}

.ll p {
    font-size: 160%;
    margin: 20px 0;
}

.grid-working-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.grid-working-items:nth-child(1) {
    background: #10c6fc;
}

.grid-working-items:nth-child(2) {
    background: #835aeb;
}

.grid-working-items:nth-child(3) {
    background: #002453;
}

.grid-working-items:nth-child(4) {
    background: #ff2b4a;
}

.grid-working-items {
    text-align: center;
    padding: 70px 0;
    text-transform: capitalize;
}

.grid-working-items ion-icon {
    font-size: 400%;
}

.grid-working-items h4 {
    font-size: 200%;
    color: #fff;
    text-transform: capitalize;
    margin-top: 20px;
}

/* ===================================== 4 experince-area ========================================*/

#experince-area {
    background: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.322)), url(./img/wel3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 30px;
}

.experince-area-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.experince-area-items {
    background: #65657c3b;
    padding: 30px;
    color: #fff;
}

.experince-area-items h3 {
    font-size: 200%;
}

.experince-area-items h4 {
    font-size: 150%;
    margin: 10px 0;
}

.experince-area-items p {
    font-size: 130%;
    margin: 10px 0;
}

.experince-area-items span {
    font-size: 120%;
}

#experince-area hr {
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.397);
}

/* ===================================== 5 latest-work-area ========================================*/

#latest-work-area {
    background: linear-gradient(rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.315)), url(./img/wel5.jpg);
    padding-bottom: 90px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
}

#latest-work-area h3 {
    color: #fff;
}

.buttom-area ul {
    text-align: center;
    margin: auto;
    margin: 30px 0;
}

.buttom-area ul li {
    display: inline-block;
    padding: 10px 20px;
}

.buttom-area ul li a {
    font-size: 200%;
    text-transform: capitalize;
}

.buttom-area ul li a:hover {
    color: #ff2b4a;
}

.latest-work-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(250px, auto);
}

.latest-work-items img {
    width: 200%;
    height: 250px;
}

.latest-work-items:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.uk-transition-active.uk-active [class*="uk-transition-slide"],
.uk-transition-toggle [class*="uk-transition-slide"]:focus-within,
.uk-transition-toggle:focus [class*="uk-transition-slide"],
.uk-transition-toggle:hover [class*="uk-transition-slide"] {
    font-size: 200%;
}

.uk-lightbox-items>*> :not(iframe) {
    width: 40%;
    height: 50%;
}

.uk-lightbox-items>* {
    background-color: transparent;
}

/* ===================================== 6 sine-area-area ========================================*/

#sine-area {
    background: linear-gradient(rgba(247, 242, 242, 0.384), rgba(250, 247, 247, 0.384)), url(./img/wel7.jpg) no-repeat center / cover;
    padding-bottom: 80px;
}

.qustation-text p {
    width: 50%;
    font-size: 150%;
    margin: 40px 0;
}

.sine-img {
    margin-bottom: 20px;
}

.sine-text h4 {
    font-size: 200%;
}

.sine-text span {
    font-size: 140%;
}

/* ===================================== 6 form-area ========================================*/

#form-area {
    background: linear-gradient(rgba(12, 12, 12, 0.582), rgba(20, 19, 19, 0.5)), url(./img/wel5.jpg) no-repeat center / cover;
    padding-bottom: 80px;
    color: #fff;
    background-attachment: fixed;
}

.form-area-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-area-items:first-child {
    background: #00245373;
    padding: 30px;
}

.llk {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
}

.ssk {
    background: #00245373;
    padding: 30px;
}

.form-area-items h3 {
    font-size: 300%;
    margin-bottom: 30px;
}

.form-area-items .form-box form input,
textarea {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 10px 0;
    background: transparent;
    position: relative;
}

.form-area-items .form-box form label {
    font-size: 150%;
}

.form-area-items h2 {
    font-size: 250%;
    margin: 20px 0;
}

.form-area-items p {
    font-size: 170%;
}

.form-area-items .form-btn {
    float: right;
}

/* ===================================== 6 form-area ========================================*/

#footer-area {
    background: black;
    padding: 20px;
    color: #fff;
    text-align: center;
}

#form-area h3,
h2 {
    color: #fff;
}

.footer-socile-area ul li {
    list-style: none;
    display: inline-block;
    font-size: 150%;
}

.footer-socile-area ul li a ion-icon {
    font-size: 200%;
    color: #fff;
    padding: 0 15px;
}

.footer-socile-area ul li:nth-child(2) {
    border-right: 2px solid wheat;
}

.footer-socile-area ul li:nth-child(3) {
    border-right: 2px solid wheat;
}

#footer-area .footer-text p {
    font-size: 150%;
}

.footer-socile-area ul li:hover a ion-icon {
    color: #ff2b4a;
}

.uk-icon {
    font-size: 800%;
    font-weight: 700;
    border: 1px solid #fff;
    padding: 20px 15px;
}

.top-up a.uk-totop:hover {
    background: #fff;
    color: #000;
}

/* ===================================== 9 responsive-area ========================================*/

@media screen and (max-width: 1200px) {
    .row {
        padding: 0 40px;
    }
}

@media screen and (max-width: 1024px) {
    .latest-work-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .html,
    body {
        font-size: 9px;
    }
    .grid-about-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .grid-about-container .btn {
        margin: auto;
    }
    .about-img img {
        display: none;
    }
    .grid-working-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
    
  
    section {
        padding-top: 20px;
    }
    .experince-area-container {
        grid-template-columns: 1fr;
    }
    .latest-work-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .latest-work-items:nth-child(5) {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .qustation-text p {
        width: 100%;
        font-size: 190%;
        margin: 40px 0;
    }
    #form-area {
        background-attachment: scroll;
    }
    .form-area-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-working-container {
        grid-template-columns: 1fr;
    }
    .uk-lightbox-items>*> :not(iframe) {
        width: 50%;
        height: 40%;
    }
	html,
body {
    font-size: 7px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    Overflow-x: hidden ;
}
}
